#form3 {
  display: none;
}
.hide {
  display: none;
}

#design {
  display: none;
}

#CSS {
  display: none;
}

#CSSinfo {
  display: none;
}

#designInfo {
  display: none;
}

#answerArea {
  display: none;
}

#answerArea p {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  background-color: rgba(204, 217, 227, 0.8);
}

#answerArea2 {
  display: none;
}

#answerArea2 p {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  background-color: rgba(204, 217, 227, 0.8);
}

#undecidedAnswer {
  display: none;
}

#PHP {
  display: none;
}

#ruby {
  display: none;
}

#java {
  display: none;
}

#Csharp {
  display: none;
}


.card {
  margin:20px;
  background-color: rgb(233, 209, 255, 0.9);
  padding: 20px;
}

#backEndStyle.card {
  background-color: rgb(233, 209, 255, 0.9);
  width: 1090px;
  text-align: center;
  height: auto;
  margin-bottom: 40px;
}

#backEndStyle p {
  font-size: 40px;
}

.col-md-3 #backEndStyle2 {
  float: left;
  width: 1090px;
}

#backEndStyle2 p {
  font-size: 20px;
}

.jumbotron {
  background-color: rgb(255, 209, 248, 0.9);
}

body {
  background-image: url("../img/floral3.jpg");
}

#specialFont {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-weight: 600;
  font-size: 100px;
  line-height: 100px;
}

h1 {
  background-color: rgb(255, 209, 248, 0.9);
  line-height: 50px;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  background-color: rgb(255, 209, 248, 0.9);
  line-height: 50px;
  padding: 20px;
}

p {
  font-size: 20px;
  font-weight: 600;
}

form {
  font-size: 20px;
  line-height: 50px;
}


#left {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(69,71,142,1), rgba(69,71,142,0));
}

#right {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(69,71,142,0), rgba(69,71,142,1));
}

#style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
