/* .navStyle {
  margin-bottom: 40px;
  /* background-color: rgb(255, 209, 248, 0.8); */
} */

#form3 {
  display: none;
}
.hide {
  display: none;
}

#design {
  display: none;
}

#CSS {
  display: none;
}

#CSSinfo {
  display: none;
}

#designInfo {
  display: none;
}

#answerArea {
  display: none;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}

#answerArea2 {
  display: none;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}

#undecidedAnswer {
  display: none;
}

#PHP {
  display: none;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#ruby {
  display: none;
  text-align: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#java {
  display: none;
  text-align: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#Csharp {
  text-align: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  display: none;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  margin:20px;
  background-color: rgb(233, 209, 255, 0.9);
}

.jumbotron {
  background-color: rgb(255, 209, 248, 0.9);
}

body {
  background-image: url("../img/floral.jpg");
  background-repeat: repeat-y;
  background-size: cover
}

h1 {
  background-color: rgb(255, 209, 248, 0.9);
  line-height: 50px;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  background-color: rgb(255, 209, 248, 0.9);
  line-height: 50px;
  padding: 20px;
}

p {
  font-size: 20px;
  font-weight: 600;
}

form {
  font-size: 20px;
  line-height: 50px;
}

#specialFormat {
  margin-left: 20%;
  margin-right: 20%;
} */
/* #answer {
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}
