#nav {

  margin-bottom: 40px;
}

#form2 {
  display: none;
}

#design {
  display: none;
}

#CSS {
  display: none;
}

#CSSinfo {
  display: none;
}

#designInfo {
  display: none;
}

#answerArea {
  display: none;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}

#answerArea2 {
  display: none;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}

#undecidedAnswer {
  display: none;
}

#PHP {
  display: none;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#ruby {
  display: none;
  text-align: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#java {
  display: none;
  text-align: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#Csharp {
  text-align: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  display: none;
  width: auto;
  height: auto;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

/* #answer {
  text-align: center;
  font-size: 100px;
  font-weight: 600;
} */
